<div class="monster-card pb-3 m-1">
    <h2 class="m-0 pt-3 pl-3 pb-1 monster-name" id="monster-name{{uniqueId}}"></h2>
    <div class="monster-frame mx-3">
        <div class="d-flex flex-row justify-content-between m-1">
            <div class="d-flex flex-row align-items-center">
                <img src="/assets/heart.png" class="card-icon">
                <h2 class="monster-health monster-stats m-0" id="monster-health{{uniqueId}}"></h2>
            </div>
            <div class="d-flex flex-row align-items-center m-1">
                <img src="/assets/shield.png" class="card-icon">
                <h2 class="monster-defense monster-stats m-0" id="monster-defense{{uniqueId}}"></h2> 
            </div>
                    
        </div>
        <div class="d-flex flex-column align-items-center image-container">
            <img id="monster-image{{uniqueId}}" class="monster-image m-auto">
        </div>

        <div class="d-flex flex-row align-items-center m-1">
            <img src="/assets/fist.png" class="card-icon">  
            <h2 class="monster-attack monster-stats m-0" id="monster-attack{{uniqueId}}"></h2>   
        </div>           
    </div>
</div>
<script type="text/javascript" src="/scripts/createCard.js"></script>
<script uniqueId="{{uniqueId}}">
    createCard(document.currentScript.getAttribute('uniqueId'))
</script>