<div class="monster-card extra-small-card m-1">
    <p class="monster-name m-1 monster-name{{uniqueId}}">Goblin</p>
    <div class="monster-frame mx-1 d-flex flex-column align-items-center justify-content-center">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <img src="/assets/heart.png" class="card-icon">
                <p class="monster-health monster-stats m-0 monster-health{{uniqueId}}">1</p>
            </div>
            <div class="d-flex flex-row align-items-center mx-1">
                <img src="/assets/shield.png" class="card-icon">
                <p class="monster-defense monster-stats m-0 monster-defense{{uniqueId}}">2</p> 
            </div>
            <div class="d-flex flex-row align-items-center mx-1">
                <img src="/assets/fist.png" class="card-icon">  
                <p class="monster-attack monster-stats m-0 monster-attack{{uniqueId}}">2</p>   
            </div>       
        </div>
        <img class="monster-image mb-1 monster-image{{uniqueId}}">
    </div>
</div>
<script uniqueId="{{uniqueId}}">
    createCard(document.currentScript.getAttribute('uniqueId'))
</script>